from __future__ import annotations

from importlib.metadata import version as package_version

from typer.testing import CliRunner

from [[ package_name ]].cli import app

PROJECT_NAME = "[[ project_name ]]"

runner = CliRunner()


def test_help() -> None:
    result = runner.invoke(app, ["--help"])

    assert result.exit_code == 0
    assert "version" in result.stdout


def test_version() -> None:
    result = runner.invoke(app, ["version"])

    assert result.exit_code == 0
    assert result.stdout.strip() == package_version(PROJECT_NAME)
